<<<<<<< HEAD
<% @genres.each do |genre| %>
  <li> <a href="/genres/<%= genre.slug %>"> <%= genre.name %> </a></li>
<% end %>
=======
<h1>Genres</h1>

<%@genres.each do |genre|%>
  <li> <a href="/genres/<%= genre.slug %>"> <%= genre.name %> </a></li>
<%end%>
>>>>>>> 199cdb3e22cd25fa347beeac89956c04fa52c295
