<h1>Add a New Song</h1>

<<<<<<< HEAD
<form action="/songs" method="POST">
  <label> Artist Name </label>
  <input type="text" name="Artist Name"> </br>
=======
<form action="/songs" method="post">
  <label for="song_name">Song Name:</label>
  <input type="text" name="song[name]" id="song_name" />
>>>>>>> 199cdb3e22cd25fa347beeac89956c04fa52c295

  <label> Song Name </label>
  <input type="text" name="Name"> </br>

  <label> Genres </label>
  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
  <% end %>

  <input type="submit" value="Create">
</form>
