<ul>
  <li><a href="./songs/index.erb">Click here to see a list of songs!</a></li>
  <li><a href="./songs/new.erb">Or click here to make a new one!</a></li>
  <br>
  <li><a href="./artists/index.erb">Click here to see a list of artists!</a></li>
  <li><a href="./genres/index.erb">Click here to see a list of genres!</a></li>
</ul>
