<ul>
  <li><a href="/songs">Click here to see a list of songs!</a></li>
  <li><a href="/songs/new">Or click here to make a new one!</a></li>
  <br>
  <li><a href="/artists">Click here to see a list of artists!</a></li>
  <li><a href="/genres/index">Click here to see a list of genres!</a></li>
</ul>
