<ul>
<<<<<<< HEAD
  <li><a href="/songs">Click here to see a list of songs!</a></li>
  <li><a href="/songs/new">Or click here to make a new one!</a></li>
  <br>
  <li><a href="/artists">Click here to see a list of artists!</a></li>
=======
  <li><a href="/songs/index">Click here to see a list of songs!</a></li>
  <li><a href="/songs/new">Or click here to make a new one!</a></li>
  <br>
  <li><a href="/artists/index">Click here to see a list of artists!</a></li>
>>>>>>> 199cdb3e22cd25fa347beeac89956c04fa52c295
  <li><a href="/genres/index">Click here to see a list of genres!</a></li>
</ul>
